.iframeContainer {
  padding: 0px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 0px;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%; 
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 600px;
}
/* ToolTip */
.tooltip {
  position: absolute;
  width: 300px;
  height: 100px;
  padding: 10px;
  font: 12px sans-serif;
  text-align: center;
  color: black;
  background: gray;
  border: 0;
  border-radius: 10px;
  display: 'box';
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.chart {
  height: 100%;
  width: 100%;
}

#chart {
  height: 100%;
  width: 100%;
}

/* Sortable tables */
table.sortable thead {
  background-color:#eee;
  color:#666666;
  font-weight: bold;
  cursor: default;
}
table.sortable tbody tr:nth-child(2n) td {
  background: #ffcccc;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background: #ccffff;
}